<template>
    <div style="position: absolute;top:0;width:100%;z-index:99">
        <nuxt-link to="/">Home</nuxt-link>
        <nuxt-link to="/portfolio">Portfolio</nuxt-link>
    </div>
</template>

<script>
    export default {

    }
</script>

<style scoped>

</style>