<template>
    <div class="component loader">
    <div class="loader__headline">
        <span>Kenneth Geris</span>
        <span>&nbsp;&nbsp;</span>
        <span>Full-stack </span>
        <span>&nbsp;&nbsp;</span>
        <span>Developer</span>
    </div>
            <div class="loader__line">
        </div>
    </div>
</template>

<script>
import { TimelineLite } from 'gsap'
    export default {
        mounted () {
            var vm = this;
            var $loader = document.getElementsByClassName('loader');
            var $loader_line = document.getElementsByClassName('loader__line');
            var $loader__headline = Array.from(document.querySelectorAll(".loader__headline span"))
            //TIMELINE
            var tl = new TimelineLite({paused:true, onComplete:function(){
                vm.$store.commit('endAnimationScreen', false)
            }}); 
            tl.addLabel("start")
              .set($loader__headline, {autoAlpha: 0})
              .set($loader_line, {scaleX: 0})
              .staggerTo($loader__headline, 1,{y:0,autoAlpha: 1,ease:Expo.easeInOut}, .1, "start")
              .to($loader_line, 1.6, {scaleX: 1,transformOrigin: "0% 50%", ease:Expo.easeInOut},"-=0.8")
              .addLabel("collapse")
              .to($loader_line, 1, {top: 0, ease:Expo.easeInOut}, "collapse")
              .set($loader__headline, {autoAlpha: 1})
              .set($loader, {autoAlpha: 0})
            tl.play();
            

            // this.$store.dispatch("addNumber", false);
            // setTimeout(() => this.$nuxt.$loading.finish(), 500)
        }    
    }
</script>

<style scoped lang="scss">
.loader__headline {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-left: 160px;
    span{
    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
    }
}
.loader {
    background-color: #191919;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.loader__headline span {
    color: white;
}
.loader__line {
    position: absolute;
    top: calc(100vh - 8px);
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: white;
}
</style>