@keyframes maskFromLeft{
    0% {
        opacity: 0;
        -webkit-clip-path: polygon(0 0,0 0,0 100%,0 100%);
        clip-path: polygon(0 0,0 0,0 100%,0 100%);
    }
    100% {
        opacity: 1;
        -webkit-clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
        clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
    }
}

@keyframes maskFromRight{
    0% {
        opacity: 0;
        -webkit-clip-path: polygon(0 0,0 0,0 100%,0 100%);
        clip-path: polygon(0 0,0 0,0 100%,0 100%);
    }
    100% {
        opacity: 1;
        -webkit-clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
        clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
    }
}