$black: #16181c;
$pink: #d8a5ac;
$grey: #e6e7e8;

@for $i from 1 through 100 {
    $base: 5;
    $marginTop: $base * $i;
    $marginBottom: $base * $i;
    $paddingTop: $base * $i;
    $paddingBottom: $base * $i;
    .mt-#{$marginTop} { 
        margin-top: $marginTop + 0px !important;
    }
    .mb-#{$marginBottom} { 
        margin-bottom: $marginBottom + 0px !important;
    }    
    .pt-#{$paddingTop} { 
        padding-top: $paddingTop + 0px !important;
    }
    .pb-#{$paddingBottom} { 
        padding-bottom: $paddingBottom + 0px !important;
    }     
}

