<template>
  <div>
    <app-header/>
    <nuxt/>
    <loading-component/>
  </div>
</template>
<script>

import AppHeader from '@/components/AppHeader';
import loadingComponent from '@/components/Loading';

export default {
  components:{
    AppHeader,
    loadingComponent
  },
  methods:{
    triggerAnimation(callback){
      var done = callback;
      var t = !(arguments.length > 1 && void 0 !== arguments[1]) || arguments[1],
      a = arguments.length > 2 && void 0 !== arguments[2] && arguments[2],
      v = document.querySelector(".view.home"),
      n = document.querySelector(".home__filler"),
      s = document.querySelector(".image"),
      r = document.querySelector(".image__actual"),
      u = document.querySelector(".image__black"),
      d = Array.from(document.querySelectorAll(".image__mask")),
      m = Array.from(document.querySelectorAll(".content__title-letter")),
      b = document.querySelector(".content__title h2"),
      y = Array.from(document.querySelectorAll(".content__title-letter"));

      document.querySelector(".image__mask:nth-child(1)").style.backgroundColor = "#131313";
          
        var t2 = new TimelineLite({paused:true, onComplete:done})
        t2.addLabel("delayed")
          .set(document, {autoAlpha: 1})
          .set(v, {autoAlpha:1, yPercent:0})
          .set(n, {yPercent: 100})
          .set(s, {scaleX: 1,scaleY: .08,x: -1 * (window.innerWidth / 2 + s.getBoundingClientRect().width)})
          .set([r, u], {autoAlpha: 0})
          .set(y, {yPercent: 100})
          .set(b, {autoAlpha: 1})
          .to(n, a ? 0 : .1, {yPercent: 0,ease: Expo.easeInOut}, "delayed")
          .addLabel("start", a ? "delayed" : "delayed+=0.2")
          .to(s, 1.2, {x: 0,ease: Expo.easeInOut}, "start")
          .to(s, .6, {scaleX: 1,ease: Expo.easeOut}, "start+=0.6")
          .to(s, .6, {scaleY: 1,ease: Expo.easeInOut}, "start+=0.9")
          .addLabel("expand", "start+=1")
          .staggerFromTo(d, 1, {yPercent: 100,autoAlpha: 1}, {yPercent: 0,ease: Expo.easeIn}, .2, "expand")
          .to(d, .8, {yPercent: -100,ease: Expo.easeOut})
          .set(r, {scale: 2,autoAlpha: 1,yPercent: 10}, '-=.5')
          .to(r, 1.5, {yPercent: 0,scale: 1,ease: Expo.easeOut}, '-=.5')
          .addLabel("enter-title", "-=1.7")
          .staggerTo(y, .7, {yPercent: 0,ease: Expo.easeOut}, .04, "enter-title")
          .to(n, 1.2, {x: 0,ease: Expo.easeInOut}, "start")
          .to(n, .6, {scaleX: 1,ease: Expo.easeOut}, "start+=0.6")
        t2.play();
    }
  }
}
</script>
<style>
</style>

