<template>
<div class="view-container">
  <div class="view home">
    <div class="home__filler"></div>
    <div class="component featured-slider">
      <div class="container">
        <nuxt-link to="/portfolio/among-the-ancient-vaults">
          <div class="image">
            <div class="image__actual" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/pelizzari-studio.appspot.com/o/1548182793320-sotto_le_antiche_volte_05.jpg?alt=media&token=c7f65b2d-e8f7-4b5e-b322-4c44ac342168');"></div>
            <div class="image__black"></div>
            <div class="image__masks">
              <div class="image__mask"></div>
              <!-- <div class="image__mask"></div> -->
            </div>
          </div>
        </nuxt-link>
        <div class="content">
          <nuxt-link to="/en/portfolio/among-the-ancient-vaults" class="content__title">
            <h2>
              <div class="content__title-line" style="display: block; text-align: start; position: relative;">
                <div style="position:relative;display:inline-block;" class="content__title-word">
                  <div class="content__title-letter">N</div>
                  <div class="content__title-letter">E</div>
                  <div class="content__title-letter">W</div>

                </div>
              </div>
              <div class="content__title-line" style="display: block; text-align: start; position: relative;">
                <div style="position:relative;display:inline-block;" class="content__title-word">
                  <div class="content__title-letter">K</div>
                  <div class="content__title-letter">L</div>
                  <div class="content__title-letter">E</div>
                  <div class="content__title-letter">I</div>
                  <div class="content__title-letter">N</div>
                  <div class="content__title-letter">B</div>
                  <div class="content__title-letter">U</div>
                  <div class="content__title-letter">R</div>
                  <div class="content__title-letter">G</div>
                </div>
              </div>
            </h2>
          </nuxt-link>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import { TimelineLite } from 'gsap'
export default {
  data() {
    return {
    }
  },

  mounted () {
    this.$store.subscribe((mutation, state) => {
      if(mutation.type == 'endAnimationScreen' && mutation.payload == false){
        this.$root.layout.methods.triggerAnimation()
      }
    })
  },
    transition: {
        mode: 'out-in',
        css: false,
        appear: true,
        enter (el, done) {
          if(this.$store.state.animationScreen == false){
            this.$root.layout.methods.triggerAnimation()
          }
        },
        leave (el, done) {
            var $title = document.getElementsByTagName('h2');
            var $image = document.getElementsByClassName('image');
            //TIMELINE
            var t1 = new TimelineLite({delay:0.5, onComplete: done,})

            var t2 = TweenLite.fromTo($title, .5, {opacity: 1, y: 0,ease: Expo.easeInOut},
            {opacity: 0,y: 50});
            var t3 = TweenLite.fromTo($image, .5,{opacity: 1, y: 0,ease: Expo.easeInOut,},
            {opacity: 0,y:500,})

            t1.add(t2);
            t1.add(t3);
        },
    },
}
</script>

<style scoped lang="scss">
.view, .view-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.view-container {
    position: absolute;
}
.view {
    visibility: hidden;
    height: auto;
    min-height: 100%;
    &.home {
      position: relative;
    }
    .home__filler {
      background-color: white;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
}
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.featured-slider .image__actual, .featured-slider .image__black, .featured-slider .image__mask, .featured-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.content{
      position: absolute;
    width: 680px;
    height: 60%;
    right: 180px;
    top: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.featured-slider 
  .content__title {
    max-width: 60vw;
    h2 {
      font-size: 5rem;
      font-weight: 700;
      line-height: 6.625rem;
      color: #191919;
      min-height: 13.25rem;
      visibility: hidden;
    }
  }
  .content__title-letter{
    position: relative;
    display: inline-block;
  }
  .container{
    position: relative;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .image{
    position: relative;
    width: 460px;
    height: 690px;
    margin-right: 160px;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    background-color: #191919;
    overflow: hidden;
  .image__actual{
    background-size: cover;
    background-position: 50%;
  }
}
.content__text-line, .content__title-line {
    overflow: hidden;
}
</style>

