<template>
   <b-container>
    <b-row>
      <b-col md="12">
            <h1 class="test">portfolio</h1>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import {TweenLite, TimelineLite} from 'gsap'
export default {
  data() {
    return {

    }
  },
    transition: {
        mode: 'out-in',
        css: false,
        appear: true,
        beforeEnter(el){
            // document.body.style.overflow = 'hidden';
        },
        enter (el, done) {
            var $title = document.getElementsByTagName('h1');
            TweenLite.from($title, .3, {
                ease: Back.easeOut,
                y: 50,
                onComplete: done
                }
            );
        },
        leave (el, done) {
            var $title = document.getElementsByTagName('h1');
            TweenLite.to($title, .3, {
                ease: Back.easeOut,
                y: 50,
                onComplete: done
                }
            );
        },
    },
}
</script>

<style scoped>
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
</style>